@model Bike_Rental_System.Models.BikeDto
@{
    ViewBag.Title = "View";
}

<a href="/Bike/List">Go Back to the List</a>
<h2>Brand: @Model.Brand</h2>
<div>Model: @Model.Model</div>
<div>Type: @Model.Type</div>

